.container{
    
}
.inpot{
    height: 30px;
    width: 25%;
    margin-left: 350px;
    margin-top: 150px;
    background-color: white;
    padding-top: 5px;
    border-radius: 8px;
}
#inp{
    margin-left: 5px;
}
#plus{
    border: 1px solid black;
    width: 50px;
    height: 18px;
    text-align: center;
}
.containertask{
    display: flex;
    flex-direction: column;

}
.task{
    display: flex;
    flex-direction: row-reverse;
    height: 24px;
    width: 29%;
  background-color: white;
  margin-left: 350px;
  
   margin-top: 50px;
   padding: 5px;

}
#inp2{
    border: none;
    outline: none;
    font-size: 5px;
}
#delet{
    border: 1px solid rgb(238, 36, 36);
    width: 50px;
    height: 18px;
    text-align: center;
    color: red;
}
#check{
    border: 1px solid black;
    width: 50px;
    height: 18px;
    text-align: center;
   
}